<!DOCTYPE html>
<html>
<head>
  <title>Baiivan</title>
  <meta charset="utf-8">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="img/icon.png" type="image/png" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">  
  <link rel="stylesheet" href="css/main.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/vue/dist/vue.min.js"></script>
</head>
<body>
  <header>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href=".">Baiivan</a>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div id="app" class="row">
      <div class="well col-sm-4 col-xs-12">
        <p class="">{{ message }}</p>
        <div v-if="!hasLoggedIn" class="form-group">
          <p class="">Please log in to enable the camera</p>
          <label for="username">Username:</label>
          <input v-model="username" type="text" name="username" class="form-control">
          <label for="password">Password:</label>
          <input v-model="password" type="password" name="password" class="form-control">
          <hr>
          <a class="btn btn-primary" v-on:click="logIn">Login</a>
        </div>
        <div v-if="hasLoggedIn">
          <p>Logged in as {{ username }}</p>
          <div>
            <h2>Camera</h2>
              <label for="camName">Name:</label>
              <input v-model="camName" type="text" name="camName" class="form-control">
              <a style="margin-top: 10px;" class="btn btn-primary" v-on:click="submitCam">Submit</a>
          </div>
          
          <hr>
          <a class="btn btn-danger" v-on:click="logOut">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <script src="js/config.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
